# Required API Key from https://admin.moralis.io/web3apis
MORALIS_API_KEY = xxx

# Domain name of App
APP_DOMAIN = localhost

# Url of App for next auth
NEXTAUTH_URL = http://localhost:8000/

# Next Auth Secret
NEXTAUTH_SECRET = # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
